*{
    margin: 0;
    padding: 0;
    font-size: 14px;
    box-sizing: border-box;

}

body{
    background-color: rgba(29, 28, 28, 0.644);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif, Tahoma, Geneva, Verdana, sans-serif;
    
}

.face-border{
    width: 80vw;
    height: 80vh;
    margin: auto;
    border-radius: 50px;
    border: 10px solid rgba(255, 255, 255, 0.671);
    background: url(../images/default.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.clock-display{
    padding: 10% 1%;
    text-align: center;
    height: 77.4vh;
    border-radius: 40px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    background-color: rgba(2, 2, 2, 0.507);

}

.date-display p{
    padding: 5% 0;
    font-size: 1.5rem;
}

.time-display{
    padding: 5% 0;
    text-shadow: 0 0 2px rgb(216, 216, 216),
    -1px -1px 0 rgba(5, 85, 190, 0.836),
    -2px -2px 1px rgba(33, 94, 145, 0.87),
    -2px -2px 2px rgb(34, 34, 34);
}

.time-display p{
    font-size: 3.5rem;
    font-weight: 800;
}

.clock-message{
    padding: 5% 0;   
    font-size: 1.5rem;
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
    /* Styles */
    .time-display p{
        font-size: 5rem;
    }

    .clock-message{
        padding: 0 0;   
    }

    }